body{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
   background-image: url('images/bus-traveling-on-asphalt-road-260nw-1345741577 (1)_1.jpg');
   width: 100%;
   height: 400px;
   background-size: cover;
   margin-bottom: 4%;
   border-radius: 20px;
   margin-bottom: 0;
}
.header-container{
   display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
img{
   height: 50px;
   width: 80px;
}
.logo-nav{
   
   margin-top: 4%;
}
.head-image{
   margin-top: 4%;
}
ul{
   margin-top: 0;
}
.logo{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.logo img{
   margin-bottom: 0%;
   border-radius: 50%;
   box-shadow: 0 0 10px 10px  rgb(49, 53, 49);
   height: 200px;
   width: 230px; 

}
.logo h1{
   margin-top: 0;
   font-style: initial;
   color: rgb(49, 53, 49);
   font-family:fantasy;
}
.orange-color button {
   background-color: rgb(253, 196, 8);
   font-size: medium;
   border:0;
   margin-bottom: 20px;
   margin-right: 20px;
   padding: 10px 15px;
   border-radius:10px ;
   color: rgb(253, 250, 250);
   font-weight: 700;
}
.head-image img{
   height:250px;
   width: 400px;
   border-radius: 20px;
   box-shadow: 2px 2px 20px 12px  rgb(49, 53, 49) ;
   border: 1px solid rgb(253, 196, 8) ;
}
.description-container{
   padding-left:10% ;
   padding-right: 10%;
   padding-top: 2%;
   border-left:10px solid rgb(253, 196, 8);
   border-right: 10px solid rgb(253, 196, 8);
   border-bottom: 4px solid rgb(22, 21, 21);
   display:flex;
   justify-content:space-between;
   height: 600px;
   background-color: rgb(193, 207, 219);
   box-sizing: border-box;
  
 
}
.description-image{
   border-radius: 100px;
   box-shadow: 2px 2px 20px 12px  rgb(49, 53, 49) ;
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(253, 196, 8);
   color: rgb(76, 76, 124);
}
.description p{
   font-stretch:narrower;
   margin-left: 16px;
   margin-right: 18px;
   /* padding-right: 100px; */
}
.description{
   margin-left: 250px;
   border-radius: 100px;
   box-shadow: 2px 2px 20px 12px  rgb(49, 53, 49) ;
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: rgb(253, 196, 8);
   background-color: rgb(76, 76, 124);
}
.description h2{
   margin-top: 19.29;
   color: rgb(253, 196, 8);
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 0;

}
.description-image img{
   height: 300px;
   width: 400px;
   border-radius: 100px;
   box-shadow: 2px 2px 20px 12px  rgb(49, 53, 49) ;
}
.description img{
   height: 200px;
   width: 230px; 
   box-shadow: 2px 2px 20px 12px  rgb(49, 53, 49) ;
   border-radius: 10px;
}
.sgn-btn{
   /* background-image:url(images/footer.jpg) ; */
   padding-top: 30px;
   padding-bottom: 30px;
   background-size: cover;
   display: flex;
   /* align-items: center; */
   justify-content: center;
}
.sgn-btn button{
   background-color: rgb(253, 196, 8);
   border: 0;
   padding: 10px 15px;
   border-radius: 15px;
   color: white;
   font-size: medium;
}
.footer-container{
   background-image:url(images/footer.jpg) ;
   background-size: cover;
   display: flex;
   padding-left: 10%;
   padding-right: 10%;
   padding-top: 4%;
   justify-content: space-between;
   height: 350px;
   color:white; 
   font-size: medium;
   border-left:10px solid rgb(253, 196, 8);
   border-right: 10px solid rgb(253, 196, 8);
   border-radius: 15px;
}
.contact-us{
   width: 300px;
}
.contact-label-wrapper{

 display: flex;
 /* justify-content: space-between; */
 align-items: center;
 align-content: center;
 align-self: center;
}
.contact-label-wrapper img{
   width: 20px;
   height: 20px;
   margin: 0 20px 10px 0;
   border-radius: 50%;
}
.contact-label-wrapper label{
   padding-left: 0;
}
.foot-logo img{
   height: 100px;
   width: 100px;
}
.foot-logo h1{
   color: aliceblue;
}
button:hover{
   background-color:  rgb(225, 176, 14);
}
.signUp-comtainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}
.input-el{
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 10px;
   padding: 3px 0 3px 0;
   font-size: 16px; 
   border-style: none;
   border-bottom: 2px solid rgb(17, 16, 16, 0.5);
}
.input button{
   background-color: rgb(253, 196, 8);
   border: 0;
   padding: 7px 15px;
   border-radius: 10px;
   color: aliceblue;
}
.input button:hover{
   background-color: rgb(220, 176, 32);
   border: 0;
   padding: 7px 15px;
   border-radius: 10px;
}
.input-el:focus{
   outline: none;
}
.check-box{
   margin-top: 10px;
   margin-bottom: 10px;
}

.form{
   display: flex;
   flex-direction: column;
   border:1px solid  rgb(49, 53, 49);
   /* height: 100%; */
   width: 400px;
   justify-content: space-between;
   /* align-items: center; */
   padding: 20px 25px;
   border-radius: 10px;
    box-shadow: 2px 2px 20px 12px  rgb(49, 53, 49) ;
   
   
}
.input{
   width: 100%;
}
.input button{
   margin-top: 10px;
}
.form-el{
   display: flex;
   flex-direction: column; 
   align-items: center;
   padding:0;
   /* box-sizing: border-box; */
}
.radio{
   margin: 10px 0px 10px ;
   display: flex;
   
}
.radio input{
   margin-right:10px ;
}
#error-message{
   color: red;
}
.render{
   font-size: 20px;
   list-style: none;
   padding-left: 0;
   font-style: italic;
}
.book-list{
   margin: 5px;
}
/* .about{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
} */
.description-about{
   margin: 50px;
  height: auto;
  padding: 20px;
}
.about{
   background:linear-gradient(to left, rgb(156, 151, 151), rgba(223, 215, 215, 0.1)) ;
   background-size: cover;
   height: inherit;
   padding: 10px 0;
}
.about-header{
   display: flex;
   justify-content: space-between;
   margin: 0 50px;
   margin-top: 20px;
}



/* mobile section */
@media screen and(max-width:600px){
   .container{
      background-image: url('images/bus-traveling-on-asphalt-road-260nw-1345741577 (1)_1.jpg');
      width:100%; 

   }
   .logo{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .logo img{
      margin-bottom: 0%;
      border-radius: 50%;
      box-shadow: 0 0 10px 10px  rgb(49, 53, 49);
      height: 15px;
      width: 20px; 
   
   }
   .logo h1{
      margin-top: 0;
      font-style: initial;
      color: rgb(49, 53, 49);
      font-family:fantasy;
   }
  
}
